---
import Layout from "../layout/main.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout>
  <ContactForm />
  <a href="/i10/works" class="mt-2 underline">works</a>
  <a href="/i10" class="underline">home</a>
</Layout>
