---
import Layout from "../layout/main.astro";
---

<Layout>
  <h1 class="sr-only">instrumento</h1>
  <p>web design & development studio</p>
  <a href="/i10/contact" class="underline">contact</a>
</Layout>
