---
import Layout from "../layout/main.astro";
---

<Layout>
  <ul class="flex flex-col gap-2 text-center">
    <li>
      <span class="text-xs">2026</span>
      <ul>
        <li>
          <a href="https://lapibaberreta.com" target="_blank"
            >lapibaberreta.com</a
          >
        </li>
      </ul>
    </li>

    <li>
      <span class="text-xs">2025</span>
      <ul>
        <li>
          <a href="https://heidigiel.com" target="_blank">heidigiel.com</a>
        </li>

        <li>
          <a href="https://clarabunge.com" target="_blank">clarabunge.com</a>
        </li>

        <li>
          <a href="https://princesavampiro.com" target="_blank"
            >princesavampiro.com</a
          >
        </li>

        <li>
          <a href="https://map.nicolasspencer.com" target="_blank"
            >map.nicolasspencer.com</a
          >
        </li>
      </ul>
    </li>

    <li>
      <span class="text-xs">2024</span>
      <ul>
        <li>
          <a href="https://florenciacurci.xyz" target="_blank"
            >florenciacurci.xyz</a
          >
        </li>

        <li>
          <a href="https://www.sebastianschjaer.com" target="_blank"
            >sebastianschjaer.com</a
          >
        </li>

        <li>
          <a href="https://www.gregorionash.com" target="_blank"
            >gregorionash.com</a
          >
        </li>

        <li>
          <a href="https://omu.astrosuka.xyz" target="_blank"
            >omu.astrosuka.xyz</a
          >
        </li>
      </ul>
    </li>
  </ul>
  <a href="/contact" class="mt-2 underline">contact</a>
  <a href="/" class="underline">home</a>
</Layout>

<style>
  ul a:hover {
    background-color: var(--text);
    color: var(--background);
  }
</style>
