<form method="POST" id="form" class="flex w-100 flex-col gap-4">
  <input
    type="hidden"
    name="access_key"
    value="1317efe3-a772-4155-87dc-e5b58ba83962"
  />

  <div class="flex flex-col">
    <label for="name">name</label>
    <input type="text" name="name" required class="border" />
  </div>
  <div class="flex flex-col">
    <label for="email">email</label>
    <input type="email" name="email" required class="border" />
  </div>

  <div class="flex flex-col">
    <label for="message">message</label>
    <textarea name="message" required class="h-30 border"></textarea>
  </div>
  <button type="submit" class="border">send</button>
  <div id="result"></div>
</form>

<script is:inline>
  const form = document.getElementById("form");
  const result = document.getElementById("result");

  form.addEventListener("submit", function (e) {
    const formData = new FormData(form);
    e.preventDefault();

    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    result.innerHTML = "Please wait...";

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.innerHTML = json.message;
        } else {
          console.log(response);
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "Something went wrong!";
      })
      .then(function () {
        form.reset();
        setTimeout(() => {
          result.style.display = "none";
        }, 3000);
      });
  });
</script>
