---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import { Image } from "astro:assets";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>instrumento</title>
    <ClientRouter />
  </head>
  <body class="flex h-screen w-full flex-col items-center justify-center">
    <Image
      src="https://4twej84mot.ufs.sh/f/sUeRUn7ankFZnEEj9JrzJH8vYUzCQIZjbW6grKthlPu9RE0S"
      alt="ascii art instrumento logo"
      transition:animate="initial"
      width="1400"
      height="300"
    />
    <slot />
  </body>
</html>
